html,
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: #000001;
  color: whitesmoke;
  text-align: center;
}
h1 {
  margin-top: 75px;
  font-size: 3.5em;
}
label {
  margin: 15px;
  font-size: 1.5em;
}
input {
  height: 50%;
  width: 100%;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
ul {
  list-style: none;
}
.whole-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 55px;
  background-color: #000001;
  border-radius: 50px;
  border: 1px solid darkred;
  box-shadow: 0 0 48px darkred;
}
.paragraph {
  font-size: 1.5em;
}
.form {
  width: 50%;
}
.button {
  font-size: 1.2em;
  margin: 5px;
  height: 50px;
  width: 200px;
}
.kiss {
  font-size: 4.5em;
}
.react-calendar__navigation {
  display: flex;
  margin-bottom: 2em;
}
.react-calendar__month-view__weekdays {
  text-align: center;
}
.container button {
  height: 50px;
  width: 150px;
  color: #000001;
  /* background-color: whitesmoke; */
  border: 1px solid darkred;
}
.container button:disabled {
  background-color: lightgrey;
  color: grey;
}
.container button:disabled:hover {
  background-color: lightgrey;
  color: grey;
}
.container button:hover {
  background-color: rgb(139, 0, 0);
  color: whitesmoke
}
.calendar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 2px solid darkred; */
}
.calendar-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  padding-top: 50px;
  /* border: 2px solid greenyellow; */
}
.react-calendar {
  font-size: 1.5em;
  /* border: 2px solid blue; */
}
.buttons-container {
  width: 400px;
  display: flex;
  justify-content: space-around;
}
